@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.container button {
    align-self: flex-start;
    margin-bottom: 6px;
}

.grid {
    width: 600px;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.cuadrado {
    width: 180px;
    height: 180px;
}
