* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}
.contenedor {
    font-size: 3rem;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cajas {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.cajas > div {
    height: 100px;
    width: 100px;
    transition: transform 1s;
}

.arribaIzquierda {
    transform-origin: 0% 0%;
    background-color: red;
}
.arribaDerecha {
    background-color: yellow;
    transform-origin: 100% 0%;
}
.abajoIzquierda {
    background-color: blue;
    transform-origin: 0% 100%;
}
.abajoDerecha {
    background-color: green;
    transform-origin: 100% 100%;
}

.cajas:hover .arribaIzquierda,
.cajas:hover .abajoDerecha {
    transform: rotate(90deg);
}
.cajas:hover .arribaDerecha,
.cajas:hover .abajoIzquierda {
    transform: rotate(-90deg);
}
